/* Стилизация кнопки */
.button {
    border: none;
    background: none;
    cursor: default;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    border-radius: 8px;
    height: 48px;
    padding: 15px 64px;
    cursor: pointer;
}

.button:disabled {
    opacity: 0.5;
    pointer-events: none;
}

.button_primary {
    background: #4263EB;
    color: var(--white);
}

.button_secondary {
    background: var(--purple);
    color: var(--white);
}

.button_alternate {
    border: 1px solid var(--grey-3);
    color: var(--black);
}

.button_primary:hover {
    background: var(--blue);
}

.button_secondary:hover  {
    background: #5028C6;
}

.button_alternate {
    border: 1px solid var(--black);
}