/* Стилизация аккордеона */
.accordion {
  background: var(---white);
  border: 1px solid var(--grey-3);
  border-radius: 8px;
  padding: 24px 32px;
}

.accordion[open] {
  padding: 24px 32px 32px;
}

.accordion[open] .accordion__marker {
  transform: rotate(180deg);
}

.accordion__summary {
  display: flex;
  justify-content: space-between;
}

.accordion__title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(---black);
}

.accordion__icon {
  cursor: pointer;
  width: 24px;
  height: 24px;
  color: #212429;
}

.accordion__text {
  margin: 16px 0 0 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--grey-4);
}