@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto/Roboto-Medium.ttf), url(../fonts/Roboto/Roboto-MediumItalic.ttf);
}

@font-face {
    font-family: "Inter";
    src: url(../fonts/inter/Inter-Regular.ttf), url(../fonts/inter/Inter-SemiBold.ttf), url(../fonts/inter/Inter-Medium.ttf);
}

@font-face {
    font-family: "Source Sans Pro";
    src: url(../fonts/SourceSansPro/SourceSansPro-Regular.ttf);
}