#modal {
    display: none;
}

.modal {
    background: #C4C4C4;
    padding: 40px 40px 47px;
    position: absolute;
    top: 150px;
    left: 250px;
    right: 250px;
}

.modal__content {
    background: #FFFFFF;
    border-radius: 8px;
    padding: 30px 40px 33px;
}

.modal__wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 14px;
}

.modal__close {
    font-size: 20px;
    cursor: pointer;
}

.modal__heading {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #334D6E;
}

.modal__text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--grey-4);
}