.histogram {
    background: var(--white);
    border: 1px solid var(--grey-3);
    border-radius: 8px;
    padding: 16px 24px 24px;
}

.histogram__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.histogram__left-side {}

.histogram__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--black);
    opacity: 0.8;
    padding-bottom: 6px;
}

.histogram__total {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: var(--black);
}

.histogram__right-side {}

.histogram__link {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    color: #4263EB;
    text-decoration: none;
}

.histogram__block {
    display: flex;
	align-items: flex-end;
	gap: 1px;
	height: 50px;
	margin-top: 39px;
}

.histogram__column {
    background: var(--blue);
	flex: 1 1 9px;
}