.calendar {
    background: var(--white);
    border: 1px solid var(--grey-3);
    border-radius: 8px;
    padding: 28px 34px 40px 26px;
    width: fit-content;
}

.calendar__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #334D6E;
    text-align: center;
    margin-bottom: 24px;
}

.calendar__inner {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-items: center;
    gap: 16px 20px;
}

.calendar__day_weekday {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #90A0B7;
    margin-bottom: 8px;
}

.calendar__day {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #334D6E;
    cursor: pointer;
}

.calendar__day_active,
.calendar__day_marked {
    padding: 8px 10px;
}

.calendar__day_active {
    background: #4263EB;
}

.calendar__day_marked {
    background: #A0B1F5;
    opacity: 0.2;
}