.footer {
}

.footer__innner__layout {
    padding: 56px 0;
}

.footer__innner {
    padding: 56px 0;
}

.footer__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    line-height: 48px;
    color: var(--black);
    margin-bottom: 32px;
    text-align: center;
}

.footer__title__layout {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #ACB5BD;
    text-align: center;
}

.footer__description {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: var(--black);
    text-align: center;
}

@media screen and (max-width: 768px) {
    .footer {
        display: none;
    }
  }