.footer {
}

.footer__page {
    padding: 72px 0px 136px 0px;
}

/* Template */

.footer__template {
    padding: 56px 0px;
}

.footer__template-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--font-color);
    text-align: center;
}

.footer__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    line-height: 48px;
    color: var(--font-color);
    text-align: center;
    margin-bottom: 32px;
}

.footer__description {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--font-color);
    text-align: center;
}