.preview {}

.preview__inner {
  display: grid;
  grid-template-columns: 229px 1fr;
  grid-template-rows: auto;
  grid-template-areas: 'aside content';
  padding: 36px 0 92px;
}

.preview__aside {
  grid-area: 'aside';
}

.preview__content {
  grid-area: 'content';
  padding: 67px 165px 204px;
}

.preview__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(350px, 1fr));
  gap: 30px;
  padding: 67px 0 92px 0;
}

@media screen and (max-width: 768px) {
  .preview__wrapper {
    gap: 16px;
    padding: 23px 0 23px 0;
  }
}