.preview {
}

.preview__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(367px, 1fr));
    gap: 30px;
    padding: 67px 0px 92px 0px;
    background: var(--main-bg);
}